@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,400&display=swap");


span{
  display: block;
}
.wrap{ 
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin:50px 50px 50px 50px;
}
.left{
  margin: 0 10px 0 100px ;
}
.right{
  margin: 0 20px 20px 20px ;
}
.text_top{
  margin-top: 60px;
}
.topings{
  margin-left:50px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.toping{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toping>img{
  width: 80px;
  width: 80px;
  border-radius: 50%;
}


.price{
  display: flex;
  justify-content: space-between;
}

.btn_grp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 97%;
  background-color:#BD0707 ;
  border-radius: 5px;
  border: none;
}
.price{
  margin-top: 60px;
}
/* font */
*{
  font-family: "Nunito", sa ns-serif;
}
.text_top>p{
  font-size: 27px;
  font-weight: 500;
  color: #974A4A;
}
.price>p{
  color:#974A4A;
  font-size: 20px;
}
.name>p{
  font-size: 50px;
  font-weight: 700;
  color: #BD0707;
}
.name>p1{
   font-size: 30px;
   font-weight: 700;
   color: #974A4A;
}
.toping>p{
  color: #BD0707;
  /* font-size: 15px; */
}
.price>p{
  font-size: 30px;
  font-weight: 700;
}
.btn{
  font-size: 23px;
  padding: 5px 0 5px 0;
  font-weight: 700;
  color: white;
}