@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,400&display=swap");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;


}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 0px 50px;
}

.navbarLogo{
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

.btnNavbar{
    width: 100px;
    height: 33px;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 5px;
}

.btnNavbar:active{
    box-shadow: 0px 0px 5px grey;
}

.login{
    border: 3px solid #BD0707;
    color: #BD0707;
    background-color: white;
}

.register{
    border: 2px solid #BD0707;
    background-color: #BD0707;
    color: white;
}

.navbarPhoto{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    -webkit-appearance: none;

}


.navbarPhoto:hover{
    cursor: pointer;
}

.navbarCart{
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

.navbarRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

/* dropdown */
.dropdown-toggle::after{
    display: none !important;
}

.dropdown-menu{
    margin-top: 15px !important;
    border-radius: 10px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
    margin-left: -100px !important;
    width: 180px;
}

.dropdown-menu::before{
    position: absolute;
    content: "";
    top: -23px;
    right: 15px;
    border: 12px solid;
    border-color: transparent transparent #fff transparent;
}

.dropdown-item{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px !important;
    padding-right: 20px !important;
}

.dropCust {
    font-size: 18px;
    font-weight: 600;
    margin-left: -20px;
}

.dropAdmin{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.dropdown-img{
    width: 30px;
    height: 30px;
}

hr{
    border-top: 3px solid #8b8989 !important;
    margin: 0px ;
}

.navAddTopping{
    margin-left: -10px;
}
/* /dropdown */


/* Auth */
.modal-content{
    background-color: #E5E5E5;
    width: 420px !important;
    margin: 150px auto;
}

.authContainer{
    padding: 30px 30px 10px 30px;
}

.authTitle{
    color: #BD0707;
    margin-bottom: 20px;
}

.inputAuth{
    display: block;
    width: 100%;
    height: 50px;
    border: 2px solid #BD0707;
    background-color: rgba(224, 200, 200, 0.25);
    margin-bottom: 20px;
    border-radius: 5px;
}

.inputAuth:focus-visible{
    padding-left: 10px;
    outline: #BD0707;
}

.btnAuth{
    width: 100%;
    height: 45px;
    background-color: #BD0707;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


::placeholder{
    color: #d29595;
    padding-left: 0px;
}

.toRegist{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}
/* /Auth */


/* /navbar */



/* profile */
.profileContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.profileContainer h1{
    margin-bottom: 40px;

}

.profileLeft{
    margin-left: 10px;
}

.profileLeft h1{
    color: #BD0707;
    font-weight: 600;
}

.profileRight h1{
    color: #613D2B;
    font-weight: 600;
}


.biodata{
    display: flex;
    flex-direction: row;
}

.biodata img{
    width: 241px;
    height: 281px;
    border-radius: 4px;
}

.biodata ul li{
    list-style: none;
}

.biodataTitle{
    font-size: 24px;
    color: #613D2B;
    font-weight: 700;
}

.biodataContent{
    font-size: 20px;
    margin-bottom: 25px;
}

/* profileCard */

.profileCard{
    width: 650px;
    background-color: #F6DADA;
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px 30px;
}

.contentCardLeft{
    display: flex;
    flex-direction: column;
}

.mapContent{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.contentCardLeft ul li{
    list-style: none;
}

.contentCardLeft img{
    width: 100px;
    height: 120px;
    border-radius: 10px;
}

.profileCardTitle{
    font-size: 20px;
    font-weight: 700;
    color: #BD0707;
    margin-top: -2px;
}

.profileCardDate{
    font-size: 14px;
    margin-bottom: 10px;
    color: #BD0707;
    font-weight: 500;
}
.profileCardDate strong{
    font-weight: 700;
}

.profileCardToping strong{
    color: #974A4A;
}

.profileCardToping{
    font-size: 14px;
    color: #BD0707;
    margin-bottom: 7px;
}

.profileCardPrice{
    font-size: 14px;
    color: #974A4A;
}

.profileCard{
    display: flex;
    flex-direction: row;
}

.contentCardRight img{
    display: block ;
    width: 70px;
    height: 70px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.contentCardRight{
    justify-content: center;
    text-align: center;
}

.contentCardRight span {
    margin-top: 20px;
    display: block;
    background: #00d0ff32;
}

.contentCardRight span p{
    color: #00d1ff;
    font-weight: 600;
}

.profileSubTotal {
    font-size: 15px;
    font-weight: 700;
    color: #974A4A;
}

/* profileCard */

/* /profile */



/* addProduct */
.addProductContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.addProductLeft h1{
    color: #BD0707;
    font-weight: 600;
    margin-bottom: 40px;
}

.addProductLeft input{
    display: block;
    width: 700px;
    height: 50px;
    border: 2px solid #BD0707;
    background-color: #E0C8C840;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.addProductLeft input:focus-visible{
    outline: #BD0707;
    background-color: #063fea1a;
}

.addProductLeft button{
    width: 96%;
    height: 40px;
    margin-left: 14px;
    background-color: #BD0707;
    color: white;
    border: none;
    border-radius: 5px;
}

.addProductImage{
    display: flex;
    width: 700px;
    height: 50px;
    border: 2px solid #BD0707;
    background-color: #E0C8C840;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: space-between;
    color: #d29595   ;
    margin-bottom: 40px;

}

.addProductRight img{
    margin-top: -10px;
    width: 350px;
    height: 450px;
    border-radius: 5px;
    box-sizing: border-box;
}
/* /addProduct */


